{% block block3 %}
    {% if ( events != NULL)%}
        {% if (main_visuel[2] is not empty) %}
            <div class="container-fluid" style="background-image:url({{ main_visuel[2].path }});background-repeat: no-repeat;background-attachment: fixed;width=100%;background-size: cover;">
        {% else %}
            <div class="container-fluid">
        {% endif %}
            <h1 class="myTitleProgress">DÉROULEMENT {{date }}</h1>
            <div class="container" id="progressDiv">
                <div class="row" style="text-align: center">
                    {%  for event in events %}
                        <div class="col-sm-4 col-xs-12">
                            <img class="progressRond" src="{{ event.getMedia().path }}" alt="{{ event.getMedia().title }}"/></img>
                            <p class="progressP"><span>{{ event.name |raw }}</span> <br>{{ event.description | raw}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
        </div>
{% endblock %}