{% set cpt = game_tournament_selection | length %}

{#Set Label for dev cup#}
{% set label ='homepage'%}
{% for j in 0..(cpt-1) %}
     {% if game_tournament_selection[j].isDevCup() == true %}
         {% set label = game_tournament_selection[j].getGame()  %}
     {% endif %}
     {% set j=j+1 %}
{% endfor %}

{#Menu#}
{% set menus = {
    'DEV CUP':path('tournamentbundle_gaming_cup', {'game':label}),
    'STREAMING':path('appbundle_stream'),
    'PARTENAIRES':path('tournamentbundle_partner'),
    'FAQ':path('appbundle_faq'),
    'INSCRIPTIONS':path('inscriptionbundle_choice')
}
%}

<div class="container-fluid">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container margin padding">
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-left" href="{{ path('appbundle_homepage') }}"><img src="/Visuels/Header/logo-aul.png" style="max-width:124px"; alt="logo"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GAMING CUP <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for j in 0..(cpt-1) %}
                                    {% if game_tournament_selection[j].isDevCup() != true  %}
                                        <li>
                                            <a href="{{ path('tournamentbundle_gaming_cup', {'game':game_tournament_selection[j].game}) }}"  id="menuHeader">
                                                {{ game_tournament_selection[j].name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% set j=j+1 %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% for key,menu in menus %}
                        <li>
                            <a  href="{{ menu }}">{{ key }}</a>
                        </li>
                        {% endfor %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="/Visuels/Header/SHARE.png" class="share"  alt="logo"  >
                            </a>

                            <ul class="dropdown-menu" role="menu" id="myDropDown">
                                {% if ( logo_socials is not null)%}
                                    {% set i = 1  %}
                                    {%  for logo_social in logo_socials %}
                                        {% set i=i+1%}
                                        <li><a href={{ logo_social.media.link }}><img  src={{ logo_social.media.path }} alt={{ logo_social.name }} border="0"  class="reseaux"  alt="logo"></a></li>
                                    {% endfor %}
                                {%  endif %}
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </header>
</div>


