{% block block2 %}
    {#{% if (main_visuel[0] is not null) %}#}
        {#<div class="container-fluid">#}

        {#</div>#}
        {#{% if (main_visuel[0].path is not empty) %}#}
            {#<div class="container-fluid" >#}
        {#{% else %}#}
        {#{% endif %}#}
    {#{% endif %}#}

    <div class="container-fluid pagePart">
        <h1 class="myTitle">PARTENAIRES <span>OFFICIELS</span></h1>
        <div class="container-fluid" id="partenairesOfficiels">
            {% if(partners_officiel is not empty) %}
                {% for partner_officiel in partners_officiel  %}
                    <div class="row" style="background-image:url({{ partner_officiel.path }}); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; "width="100%" height="100%">
                        <div class="col-sm-4 col-xs-12 verticalImage">
                            <a href="{{ partner_officiel.media.link }}">
                                <img src="{{ partner_officiel.media.path }}"  class="img-responsive imgCenter"  alt="{{ partner_officiel.media.title }}"/>
                            </a>
                        </div>
                        <div class="col-sm-5 hidden-xs verticalImage">
                            <p class="partenairesP" >{{ partner_officiel.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}