<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta name=Generator content="Microsoft Word 15 (filtered medium)">
    <!--[if !mso]>
    <style>v\: * {
        behavior: url(#default#VML);
    }

    o\: * {
        behavior: url(#default#VML);
    }

    w\: * {
        behavior: url(#default#VML);
    }

    .shape {
        behavior: url(#default#VML);
    }
    </style><![endif]-->
    <style><!--
        /* Font Definitions */
        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @font-face {
            font-family: "Calibri Light";
            panose-1: 2 15 3 2 2 2 4 3 2 4;
        }

        @font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }

        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0cm;
            margin-bottom: .0001pt;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-fareast-language: EN-US;
        }

        a:link, span.MsoHyperlink {
            mso-style-priority: 99;
            color: #0563C1;
            text-decoration: underline;
        }

        a:visited, span.MsoHyperlinkFollowed {
            mso-style-priority: 99;
            color: #954F72;
            text-decoration: underline;
        }

        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
            mso-style-priority: 34;
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            margin-bottom: .0001pt;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-fareast-language: EN-US;
        }

        p.msonormal0, li.msonormal0, div.msonormal0 {
            mso-style-name: msonormal;
            mso-margin-top-alt: auto;
            margin-right: 0cm;
            mso-margin-bottom-alt: auto;
            margin-left: 0cm;
            font-size: 12.0pt;
            font-family: "Times New Roman", serif;
        }

        span.EmailStyle19 {
            mso-style-type: personal-compose;
            font-family: "Calibri", sans-serif;
            color: windowtext;
        }

        .MsoChpDefault {
            mso-style-type: export-only;
            font-size: 10.0pt;
            font-family: "Calibri", sans-serif;
            mso-fareast-language: EN-US;
        }

        @page WordSection1 {
            size: 612.0pt 792.0pt;
            margin: 70.85pt 70.85pt 70.85pt 70.85pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }

        --></style>
    <!--[if gte mso 9]>
    <xml>
        <o:shapedefaults v:ext="edit" spidmax="1026"/>
    </xml><![endif]--><!--[if gte mso 9]>
    <xml>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1"/>
        </o:shapelayout>
    </xml><![endif]--></head>
<body lang=FR link="#0563C1" vlink="#954F72">
<div class=WordSection1>
    <p class=MsoNormal>
        <b>
            <span style='font-family:"Calibri Light",sans-serif;color:#134E9A;mso-fareast-language:FR'>
                <img width=267 height=118 src="{{ logo }}">
            </span>
        </b>
        <b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A'><o:p></o:p></span></b>
    </p>
    <p class=MsoNormal>
        <b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A'><o:p>&nbsp;</o:p></span></b>
    </p>
    <p class=MsoNormal>
        <b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A'>Félicitations</span></b>
        <span style='font-family:"Calibri Light",sans-serif;color:#134E9A'>,<o:p></o:p></span>
    </p>
    <p class=MsoNormal>
        <span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal>
        <span style='font-family:"Calibri Light",sans-serif'>Vous faites désormais partie de l’aventure
            <b><span style='color:#F68525'>HEARTHSTONE</span></b> de l’<b><span style='color:#134E9A'><a
                            href="http://www.acensiuniversityleague.com/"><span
                                style='color:#134E9A;text-decoration:none'>ACENSI University League</span></a> 2016</span></b><span
                    style='color:#134E9A'>&nbsp;</span>!<o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>Vous pouvez dès à présent vous inscrire au choix à un ou plusieurs <b><span
                        style='color:#F68525'>QUALIFIERS</span></b>. À noter que les <b><span style='color:#F68525'>QUALIFIERS</span></b> se dérouleront <b><span
                        style='color:#F68525'>tous les LUNDIS SOIR à 19h, du 03 Octobre au 21 Novembre 2016.</span></b><o:p></o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>Pour vous inscrire au(x) <b><span
                        style='color:#F68525'>QUALIFIER(S)</span></b>, vous devez cliquer sur le lien du <b><span
                        style='color:#F68525'>QUALIFIER</span></b> en question et vous inscrire sur la plateforme <b><span
                        style='color:#F68525'>BATTLEFY</span></b> (<b><span style='color:#134E9A'><a
                            href="http://www.battlefy.com"><span
                                style='color:#134E9A'>www.battlefy.com</span></a></span></b>)<o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>Les liens des <b><span
                        style='color:#F68525'>QUALIFIERS</span></b> vous renvoie vers la page <b><span
                        style='color:#F68525'>BATTLEFY</span></b> du tournoi sélectionné, il vous sera demandé de préciser certaines informations telles que&nbsp;votre&nbsp;<b><span
                        style='color:#F68525'>NOM</span></b> et <b><span style='color:#F68525'>PRÉNOM</span></b> ainsi que votre <b><span
                        style='color:#F68525'>BATTLETAG</span></b>&nbsp;<b><span
                        style='color:#F68525'>COMPLET</span></b>. Prenez bien soin de remplir tous les champs afin de garantir votre inscription. Une fois votre inscription sur <b><span
                        style='color:#F68525'>BATTLEFY</span></b> validée par nos soins, vous recevrez un email vous expliquant le fonctionnement du tournoi ainsi que toutes les informations et liens nécessaires au bon déroulement de votre tournoi.<span
                    style='color:red'><o:p></o:p></span></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>À noter que tous les participants doivent s’inscrire au préalable sur le site de l’ACENSI University League<b><span
                        style='color:#134E9A'> (<u>www.acensiuniversityleague.com/inscription</u>) </span></b>pour être acceptés sur <b><span
                        style='color:#F68525'>BATTLEFY</span></b>.<o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>Seuls les 4 meilleurs participants de chaque <b><span
                        style='color:#F68525'>QUALIFIER</span></b> seront qualifiés pour la <b><span
                        style='color:#F68525'>Phase Finale Online du 25 Novembre 2016.</span></b><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#134E9A'>TOURNOIS<o:p></o:p></span></b>
                </p>
            </td>
            <td valign=top style='border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#134E9A'>DATES<o:p></o:p></span></b>
                </p>
            </td>
            <td valign=top style='border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#134E9A'>LIMITE D’INSCRIPTION<o:p></o:p></span></b>
                </p>
            </td>
            <td valign=top style='border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#134E9A'>LIENS<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #1<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 03 OCTOBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 02 OCTOBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/YCGEQR</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #2<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 10 OCTOBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 09 OCTOBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/hnJipN</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #3<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 17 OCTOBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 16 OCTOBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/mrL5Gz</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #4<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 24 OCTOBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 23 OCTOBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/To5ziI</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #5<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 31 OCTOBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 30 OCTOBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/tGcJyn</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #6<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 07 NOVEMBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 06 NOVEMBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/Q3Hr3s</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #7<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 14 NOVEMBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 13 NOVEMBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/5ftcjb</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr>
            <td valign=top style='border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>QUALIFIER #8<o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>LUNDI 21 NOVEMBRE 2016 <span
                                style='color:red'>*</span> – 19 H<o:p></o:p></span></p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>DIMANCHE 20 NOVEMBRE 2016 – 16H <o:p></o:p></span>
                </p>
            </td>
            <td valign=top
                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal><b><span
                                style='font-size:10.0pt;font-family:"Calibri Light",sans-serif;color:#F68525;background:white'>http://goo.gl/kRVoia</span></b><b><span
                                style='font-family:"Calibri Light",sans-serif;color:#F68525'><o:p></o:p></span></b></p>
            </td>
        </tr>
    </table>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:red'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:red'>* </span><span
                style='font-family:"Calibri Light",sans-serif;color:black'>Selon le nombre de participants, il est possible que les </span><b><span
                    style='font-family:"Calibri Light",sans-serif;color:#F68525'>QUALIFIERS</span></b><span
                style='font-family:"Calibri Light",sans-serif;color:black'> se poursuivent le mardi soir (19h).<o:p></o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>Si vous avez la moindre question, n’hésitez pas à <a
                    href="https://www.acensiuniversityleague.com/contact">nous contacter ici</a> ou par mail à l’adresse suivante&nbsp;: <a
                    href="mailto:aul@acensi.fr">aul@acensi.fr</a><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A'>Bon tournoi&nbsp;!<o:p></o:p></span></b>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A;mso-fareast-language:FR'>L’Équipe ACENSI University League<o:p></o:p></span></b>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:black;mso-fareast-language:FR'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>         </span><a
                href="http://www.acensiuniversityleague.com/"><span
                    style='font-family:"Calibri Light",sans-serif;color:windowtext;mso-fareast-language:FR;text-decoration:none'><img
                        border=0 width=132 height=58 src="{{ logo }}"></span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal><a href="http://www.acensiuniversityleague.com"><span
                    style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>www.acensiuniversityleague.com</span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>          </span><a
                href="http://www.facebook.com/acensiul/"><span
                    style='font-family:"Calibri Light",sans-serif;color:windowtext;mso-fareast-language:FR;text-decoration:none'><img
                        border=0 width=38 height=38 id="Image_x0020_6" src="{{ fb }}"></span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>  </span><a
                href="http://www.twitter.com/acensiul"><span
                    style='font-family:"Calibri Light",sans-serif;color:windowtext;mso-fareast-language:FR;text-decoration:none'><img
                        border=0 width=39 height=39 id="Image_x0020_7" src="{{ twitter }}"></span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>  </span><a
                href="http://www.instagram.com/acensiul"><span
                    style='font-family:"Calibri Light",sans-serif;color:windowtext;mso-fareast-language:FR;text-decoration:none'><img
                        border=0 width=41 height=41 id="Image_x0020_8" src="{{ instagram }}"></span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:green;mso-fareast-language:FR'>ü Merci de n'imprimer ce mail qu'en cas de nécessité</span><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
</div>
</body>
</html>